.cmp-lineup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
}

.cmp-lineup li {
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--paper-alt);
  padding: 0.5rem 1rem;
  word-wrap: break-word;
  border-radius: 0.25rem;
}
