input[type='text'] {
  background-color: var(--paper);
  color: var(--ink);
  border: 0.125rem solid var(--ink);
  border-radius: 0.25rem;
  padding: 0.5em;
  width: 100%;
  text-transform: uppercase;
  font-size: clamp(1rem, 2vw, 1.25rem);
}

input[type='text']:focus {
  outline: 2px solid var(--ink);
  outline-offset: 3px;
}
