:root {
  --ink: hsl(0deg 0% 10%);
  --paper: hsl(0deg 0% 95%);
  --accent: hsl(220deg 56% 45%);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: var(--ink);
  background-color: var(--paper);
  font-synthesis: none;
  /* stylelint-disable-next-line value-keyword-case */
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ink: hsl(0deg 0% 95%);
    --paper: hsl(0deg 0% 10%);
    --accent: hsl(220deg 100% 75%);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
}
